<div class="main">
    <div class="content container-fluid">
        <div class="heading">
    		<h3>Thay đổi thông tin tài khoản</h3>
    	</div>
        {{#if info}}
        <div class="content_top col-md-12">
            <form action="/users/change-info-user" method="POST">
            {{#if data}}
			{{#each data}}
			<div style="color: red;">{{this.msg}}</div>
			{{/each}}
			{{/if}}
            <div>{{success}}</div>
            <div class="form-group">
                <label for="username">Tên tài khoản</label>
                <div class="row">
                    <div class="col-md-6"><input class="form-control" name="username" type="text" id="username" value="{{info.username}}"></div>  
                </div>

                <label for="name">Họ và tên</label>
                <div class="row">
                    <div class="col-md-6"><input class="form-control" name="name" type="text" id="name" value="{{info.name}}"></div>  
                </div>

                <label for="email">Email</label>
                <div class="row">
                    <div class="col-md-6"><input class="form-control" name="email" type="email" id="email" value="{{info.email}}"></div>  
                </div>
                
                <label for="phone">Số điện thoại</label>
                <div class="row">
                    <div class="col-md-6"><input class="form-control" name="phone" type="text" id="phone" value="{{info.phone}}"></div>  
                </div>
                <label for="address">Địa chỉ</label>
                <div class="row">
                    <div class="col-md-6"><input class="form-control" name="address" type="text" id="address" value="{{info.address}}"></div>  
                </div>
                <label for="pw">Mật khẩu</label>
                <div class="row">
                    <div class="col-md-6"><input class="form-control" name="password" type="password" id="pw" value="{{password}}"></div>  
                </div>
                <br>
                <div class="row">
                    <div class="col-md-2"><button class="btn btn-primary btn-sm" type="submit">Xác nhận</button></div>
                </div>
            </div>
            </form>
        </div>
        {{/if}}
    </div>
</div>