<div class="main">
	<div class="content">
		<div class="login_panel">
			<h3>Đã có tài khoản</h3>
			<p>Đăng nhập bên dưới.</p>
<<<<<<< HEAD
			<div style="color: red;">{{notice}}</div>
=======
>>>>>>> 0739f1f71c1cd5904d650dfc53b6f3aba404122c
			<form action="/login" method="POST" id="member">
				<input name="username" type="text">
				<input name="password" type="password">
				<div class="buttons">
					<div><button type="submit" class="grey">Đăng Nhập</button></div>
				</div>
			</form>
			<p class="note">Nếu bạn quên mật khẩu của mình thì nhấn vào <a href="#">đây</a></p>

		</div>
		<div class="register_account">
			<h3>Đăng kí tài khoản mới</h3>
			{{#if data}}
			{{#each data}}
			<div style="color: red;">{{this.msg}}</div>
			{{/each}}
			{{/if}}
			<p>{{success}}</p>
			<form method="POST" action="/login/register-form">
				<div class="row">
					<div class="form-group col-md-6">
						<div><label class="control-label" for="name">Họ và tên</label></div>
						<div><input id="name" name="name" type="text" value="{{name}}"></div>
						<div><label class="control-label" for="username">Tài khoản</label></div>
						<div><input id="username" name="username" type="text" value="{{username}}"></div>
						<div><label class="control-label" for="password">Mật khẩu</label></div>
						<div><input id="password" name="password" type="password" value="{{password}}"></div>
						<div><label class="control-label" for="repassword">Nhập lại Mật khẩu</label></div>
						<div><input id="repassword" name="repassword" type="password" value="{{repassword}}"></div>
					</div>
					<div class="form-group col-md-6">
						<div><label class="control-label" for="address">Địa chỉ</label></div>
						<div><input id="address" name="address" type="text" value="{{address}}"></div>
						<div><label class="control-label " for="email">Email</label></div>
						<div><input id="email" name="email" type="email" value="{{email}}"></div>
						<div><label class="control-label " for="phone">Số điện thoại</label></div>
						<div><input id="phone" name="phone" type="number" value="{{phone}}"></div>
					</div>
				</div>
				<div class="search">
					<div><button type="submit" class="grey">Tạo tài khoản</button></div>
				</div>
				<p class="terms">Bấm click 'Tạo tài khoản' nếu bạn đồng ý với điểu khoản và điều kiện <a href="#">Điều
						khoản &amp; Điều kiện</a>.</p>
				<div class="clear"></div>
			</form>
		</div>
		<div class="clear"></div>
	</div>
</div>
</div>