<div class="main">
    <div class="content container-fluid">
        <div class="heading">
            <h3>Đổi mật khẩu</h3>
        </div>
        <div class="content_top col-md-12">
            {{#if data}}
            {{#each data}}
            <div style="color: red;">{{this.msg}}</div>
            {{/each}}
            {{/if}}
            <div>{{success}}</div>
            <form action="/users/resetpassword-{{token}}" method="POST">
                <div class="form-group">

                    <label for="newpw">Mật khẩu mới</label>
                    <div class="row">
                        <div class="col-md-6"><input class="form-control" name="newpw" type="password" id="newpw"
                                value="{{newpw}}"></div>
                    </div>
                    <label for="renewpw">Nhập lại mật khẩu mới</label>
                    <div class="row">
                        <div class="col-md-6"><input class="form-control" name="renewpw" type="password" id="renewpw"
                                value="{{renewpw}}"></div>
                    </div>
                    <br>
                    <div><button class="btn btn-primary btn-sm" type="submit">Xác nhận</button></div>
                </div>
            </form>
        </div>
    </div>
</div>