<div class="main">
	<div class="content">
		<div class="content_top">
			<div class="heading">
				<h3>Sản phẩm</h3>
			</div>
			<form action="/" method="POST">
				<div class="sort">
					<p>Lọc theo:
						<select id="cate" name="Category">
							<option value="0" selected="true">All</option>
							<option value="1">Điện thoại</option>
							<option value="2">Laptop</option>
							<option value="3">Loa</option>
						</select>
					</p>
				</div>
				<div class="search">
					<div><button class="grey" type="submit">Lọc</button></div>
				</div>
			</form>
			<div class="show">
				<p>Số lượng hiển thị:
					<select>
						<option>4</option>
						<option>8</option>
						<option>12</option>
						<option>16</option>
						<option>20</option>
						<option>Tất cả trong kho</option>
					</select>
				</p>

			</div>
			<div class="page-no">
				<p>Trang:<ul>
						<li><a href="#">1</a></li>
						<li class="active"><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li>[<a href="#"> Tiếp theo>>></a>]</li>
					</ul>
				</p>
			</div>
			<div class="clear"></div>
		</div>
		
		<div class="section group">
			<span></span>
			{{#if data}}
			{{#each data}}
			<div class="grid_1_of_4 images_1_of_4">
				
				<a href="/product/{{this._id}}"><img
									src="{{this.image_link}}"	
									alt="" /></a>
				<div class="discount">
					<span class="percentage">{{this.discount}}</span>
				</div>
				<h2>{{ this.name }} </h2>
				<p>{{ this.description }}</p>
				<p><span class="strike">50 000 000</span><span class="price">{{this.price}}</span></p>
				<div class="button"><span><img src="images/cart.jpg" alt="" /><a href="/product/{{this._id}}"
							class="cart-button">Thêm vào giỏ hàng</a></span> </div>
				<div class="button"><span><a href="/product/{{this._id}}" class="details">Chi tiết</a></span></div>
			</div>
			{{/each}}
			{{/if}}
		</div>
	</div>
</div>