<div align="center">
   
    {{#if Data}}
    {{#each Data}}
    <form method="GET" action="/order/o={{this._id}}" style="width: 100%; heigh=100% background-color: bisque;">
        <div style="margin-right:30px ; width: 30%;border: 10px ;height: auto; align-items: center; line-height: 25px; float: inline;">
       <div align="center" >Đơn Hàng</div>
       <hr>
       <div style="float: left; width: 50%;">
          <b>Ngày</b><div id="date" name="date">{{this.date}}</div>
          <b>Người đặt: </b><div name="ID_Usser">{{this.ID_Usser}}</div>
          <b>Người nhận</b>
          <div name="recipient">{{this.recipient}}</div>
       </div>
       <div>          
            <b>Tổng tiền</b> <div name="amount">{{this.amount}}</div>           
            {{!-- <button> Giao hàng </button><br> --}}
            <b>Trạng thái:</b><span name="status">{{this.status}}</span>
            <button class="Button" type="submit"> Chi tiết </button><br>
            <div></div>
       </div>
    </div>   
    <br>
    <br>
    </form>
    <hr>
    <hr>
    {{/each}}
    {{/if}}
    
</div>