<div class="main">
  <div class="content container-fluid">
    <div class="heading">
      <h3>Quản lý Tài Khoản Người Dùng</h3>
      <br>
    </div>
    <form action="/admin/user-account" method="GET">
      <div class="page-no">
        <p>
          <ul>
            <li><button class="btn" type="submit" id="pagePrev" name="PagePrev" value="{{currentPage}}">Trang
                trước</button></li>
            Trang:
            <li>{{currentPage}}</li>
            /
            <li>{{pages}}</li>
            <li><button class="btn" type="submit" id="pageNext" name="PageNext" value="{{currentPage}}">Trang
                sau</button>
            </li>
          </ul>
        </p>
      </div>
    </form>
    <div class="clear"></div>
    <div class=" content_top table-responsive col-md-12">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th><b>UserName</b></th>
            <th><b>Họ và tên</b></th>
            <th>Loại tài khoản</th>
            <th><span>Trạng thái</span></th>
          </tr>
        </thead>
        <tbody>
          {{#if listacc}}
          {{#each listacc}}
          <tr>
            <td>{{this.username}}</td>
            <td>{{this.name}}</td>
            {{#if this.admin}}
            <td>Admin</td>
            {{else}}
            <td>Người dùng</td>
            {{/if}}

            {{#if this.lock}}
            <td>Khóa</td>
            {{else}}
            <td>Kích hoạt</td>
            {{/if}}
            {{#if this.lock}}
            <td><a href="/admin/lock-{{this.username}}"><button type="button">Mở khóa</button></a></td>
            {{else}}
            <td><a href="/admin/lock-{{this.username}}"><button type="button">Khóa</button></a></td>
            {{/if}}
            <td><a href="/admin/detail-info-{{this.username}}"><button type="button">Xem chi tiết</button></a></td>
          </tr>
          {{/each}}
          {{/if}}
        </tbody>
      </table>
    </div>
  </div>
</div>