<div class="main">
  <div class="content container-fluid">
    <div class="heading">
      <h3>Quản lý Tài Khoản Người Dùng</h3>
      <br>
    </div>
    <div class="sort">
      <p>Sắp xếp theo:
        <select>
          <option>A-Z</option>
          <option>Z-A</option>
        </select>
      </p>
    </div>
    <div class="show">
      <p>Số lượng hiển thị:
        <select>
          <option>5</option>
          <option>10</option>
          <option>15</option>
          <option>20</option>
          <option>25</option>
          <option>Tất cả</option>
        </select>
      </p>
    </div>
    <div class="page-no">
      <p>Trang:<ul>
          <li><a href="#">1</a></li>
          <li class="active"><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li>[<a href="#"> Tiếp theo>>></a>]</li>
        </ul>
      </p>
    </div>
    <div class="clear"></div>
    <div class=" content_top table-responsive col-md-12">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th><b>UserName</b></th>
            <th><b>Họ và tên</b></th>
            <th>Loại tài khoản</th>
            <th><span>Trạng thái</span></th>
          </tr>
        </thead>
        <tbody>
          {{#if listacc}}
          {{#each listacc}}
          <tr>
            <td>{{this.username}}</td>
            <td>{{this.name}}</td>
            {{#if this.admin}}
            <td>Admin</td>
            {{else}}
            <td>Người dùng</td>
            {{/if}}

            {{#if this.lock}}
            <td>Khóa</td>
            {{else}}
            <td>Kích hoạt</td>
            {{/if}}
            {{#if this.lock}}
            <td><a href="/admin/lock-{{this.username}}"><button type="button">Mở khóa</button></a></td>
            {{else}}
            <td><a href="/admin/lock-{{this.username}}"><button type="button">Khóa</button></a></td>
            {{/if}}
            <td><a href="/admin/detail-info-{{this.username}}"><button type="button">Xem chi tiết</button></a></td>
          </tr>
          {{/each}}
          {{/if}}
        </tbody>
      </table>
    </div>

  </div>
</div>