<div class="main">
	<div class="content">
		<div class="content_top">
			<div class="heading">
				<h3>Sản phẩm</h3>
			</div>
			<form action="/products" method="POST">
				<div class="sort">
					<p>Lọc theo:
						<select id="cate" name="Category" onchange="this.form.submit();">
							{{#if categories}}
							{{#each categories}}
							<option value="{{this.id}}">{{this.name}}</option>
							{{/each}}
							{{/if}}
						</select>
					</p>
				</div>
				<div class="show">
					<p>Sắp xếp theo:
						<select id="sort" name="SortBy" onchange="this.form.submit();">
							{{#if sortOpts}}
							{{#each sortOpts}}
							<option value="{{this.id}}">{{this.name}}</option>
							{{/each}}
							{{/if}}
						</select>
					</p>
				</div>
				<div class="page-no">
					<p>
						<ul>
							<li><button class="btn" type="submit" id="pagePrev" name="pagePrev"
									value="{{currentPage}}">Trang trước</button></li>
							Trang:
							<li>{{currentPage}}</li>
							/
							<li>{{pages}}</li>
							<li><button class="btn" type="submit" id="pageNext" name="pageNext"
									value="{{currentPage}}">Trang sau</button></li>
						</ul>
					</p>
				</div>
			</form>
			<div class="clear"></div>
		</div>

		<div class="section group">
			<span></span>
			{{#if data}}
			{{#each data}}
			<div class="grid_1_of_4 images_1_of_4">

				<a href="/products/{{this._id}}"><img src="{{this.image_link}}" alt="" /></a>
				<div class="discount">
					<span class="percentage">{{this.discount}}</span>
				</div>
				<h2>{{ this.name }} </h2>
				<p>{{ this.description }}</p>
				<p><span class="strike">50 000 000</span><span class="price">{{this.price}}</span></p>
				<div class="button" onclick="addCart({{this._id}})"><span><img src="/images/cart.jpg" alt="" /><a
							href="/products/{{this._id}}" class="cart-button">Thêm vào giỏ hàng</a></span> </div>
				<div class="button"><span><a href="/products/{{this._id}}" class="details">Chi tiết</a></span></div>
			</div>
			{{/each}}
			{{/if}}
		</div>
	</div>
</div>

<script>
	var selCate = "{{selectedCate}}";
	var selSort = "{{selectedSort}}";
	document.getElementById("cate").selectedIndex = selCate;
	document.getElementById("sort").selectedIndex = selSort;
</script>